{% extends 'base.html' %}

{% block main %}
        <!--main Section -->
        <section class="py-5 bg-dark">
        <div class="card mx-auto text-center" style="max-width: 80%; ">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{url_for('static', filename='img/'+product.image)}}" class="card-img" alt="Shadowboard">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 50px;">{{product.name}}</h5>
                  <p class="card-text" style="font-size: 20px">{{product.description}}</p>
                  <p class="card-text"><small class="text-muted" style="font-size: 20px;">${{product.price}}</small></p>
                  <div class="form-inline justify-content-center">
                    <a href="{{url_for('main.items', categoryid=product.category_id)}}" class="btn btn-dark align-items-center">Go Back</a>
                    <form action="{{ url_for('main.order') }}">
                      <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
                      <input class="btn btn-dark align-items-center ml-2" type="submit" value="Add to Cart">
                    </form>
                 </div>
              </div>
            </div>
          </div>
        </section>
        {% endblock %}